.accessContainer {
    max-width: 400px;
    margin: 2rem auto;
    padding: 2rem;
    background-color: #003F88;
    color: #fff;
    border-radius: 0.5rem;
}

.label {
    display: block;
    font-weight: bold;
    margin: 0.5rem 0;
}

.input, .loginButton, .registerButton {
    box-sizing: border-box;
    width: 100%;
}

.input {
    padding: 0.5rem;
    font-size: 1rem;
    border: none;
    border-radius: 0.375rem;
    margin-bottom: 0.5rem;
    background-color: #d9d9d9;
}

.loginButton {
    padding: 0.75rem 1.5rem;
    margin-top: 0.5rem;
    background-color: #fff;
    color: #003F88;
    font-size: 1rem;
    font-weight: bold;
    text-align: center;
    border: none;
    border-radius: 0.375rem;
    cursor: pointer;
}

.registerButton {
    display: block;
    padding: 0.75rem 1.5rem;
    margin-top: 0.5rem;
    background-color: #1C1F26;
    color: #fff;
    font-size: 1rem;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    border-radius: 0.375rem;
    cursor: pointer;
}
